@model HomeIndexVM
<div id="home" class="pt-home" style="background-image: url('img/home-bg.jpg')">

    <!-- Particles -->
    <div id="particles-js"></div>

    <section>

        <!-- Banner -->
        <div class="banner">
            <h1>@Model.Abouts.FirstOrDefault()?.UserFullName</h1>
            <p class="cd-headline rotate-1">
                <span class="cd-words-wrapper">
                    @{
                        var skills = Model.Abouts.FirstOrDefault()?.Skills?.Split('/', StringSplitOptions.RemoveEmptyEntries);
                        if (skills != null && skills.Any())
                        {
                            for (int i = 0; i < skills.Length; i++)
                            {
                                if (i == 0)
                                {
                                    <b class="is-visible">@skills[i]</b>
                                }
                                else
                                {
                                    <b>@skills[i]</b>
                                }
                            }
                        }
                    }
                </span>
            </p>
        </div>

        <!-- Social -->
        <div class="social">
            <ul class="social-icons">
                @if (!string.IsNullOrWhiteSpace(Model.Abouts.FirstOrDefault()?.Instagram))
                {
                    <li>
                        <a href="@Model.Abouts.FirstOrDefault()?.Instagram" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(Model.Abouts.FirstOrDefault()?.Linkedin))
                {
                    <li>
                        <a href="@Model.Abouts.FirstOrDefault()?.Linkedin" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                }

                @if (!string.IsNullOrWhiteSpace(Model.Abouts.FirstOrDefault()?.Github))
                {
                    <li>
                        <a href="@Model.Abouts.FirstOrDefault()?.Github" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </section>
</div>
