@{
    var selected = ViewData["selected"]?.ToString()?.ToLower();
    var isDashboardActive = selected == "dashboard";
    var isUsersActive = selected == "users";
    var isAboutActive = selected == "abouts";
    var isPortfolioActive = selected == "portfolios";
    // var isPropertyGroupActive = selected == "propertygroup";
    // var isPropertyNameActive = selected == "propertyname";
    // var isPropertyValueActive = selected == "propertyvalue";
    // var isPropertyActive = isPropertyGroupActive || isPropertyNameActive || isPropertyValueActive;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">پنل مدیریت</span>
    </a>

    <div class="sidebar">
        <div>
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="https://www.gravatar.com/avatar/52f0fbcbedee04a121cba8dad1174462?s=200&d=mm&r=g" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">حسام موسوی</a>
                </div>
            </div>

            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    
                    <li class="nav-item">
                        <a href="/Admin" class="nav-link @(isDashboardActive ? "active" : "")">
                            <i class="nav-icon fa fa-th"></i>
                            <p>داشبورد</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/Admin/User" class="nav-link @(isUsersActive ? "active" : "")">
                            <i class="nav-icon fa fa-th"></i>
                            <p>لیست کاربر ها</p>
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/Admin/About" class="nav-link @(isAboutActive ? "active" : "")">
                            <i class="nav-icon fa fa-th"></i>
                            <p>درباره من</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Admin/Portfolio" class="nav-link @(isPortfolioActive ? "active" : "")">
                            <i class="nav-icon fa fa-th"></i>
                            <p>نمونه کار ها</p>
                        </a>
                    </li>
@*                     <li class="nav-item has-treeview @(isPropertyActive ? "menu-open" : "")">
                        <a href="#" class="nav-link @(isPropertyActive ? "active" : "")">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <p>
                                ویژگی ها
                                <i class="right fa fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Admin/PropertyGroup" class="nav-link @(isPropertyGroupActive ? "active" : "")">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>گروه ها</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/PropertyName" class="nav-link @(isPropertyNameActive ? "active" : "")">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>عنوان ها</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Admin/PropertyValue" class="nav-link @(isPropertyValueActive ? "active" : "")">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>مقدار ها</p>
                                </a>
                            </li>
                        </ul>
                    </li>
 *@                </ul>
            </nav>
        </div>
    </div>
</aside>
