@using GameOnline.Core.ExtenstionMethods
@model IEnumerable<My_site.Core.ViewModels.UserViewmodel.AboutVM>
@{
    ViewData["title"] = "درباره من";
    ViewData["selected"] = "abouts";
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <a class="btn btn-success" href="/Admin/About/AddOrEdit/@Model.First().AboutId">ویرایش مشخصات</a>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">درباره من</h3>
                    </div>
                    <div class="card-body">
                        <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid">
                                        <thead>
                                            <tr role="row">
                                                <th>عکس</th>
                                                <th>نام و نام خانوادگی</th>
                                                <th>بیوگرافی</th>
                                                <th>مهارت ها</th>
                                                <th>لینک اینستاگرام</th>
                                                <th>لینک لینکدین</th>
                                                <th>لینک گیت هاب</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr role="row" class="odd">
                                                    <td class="text-center">
                                                        <img src="@($"{PathTools.PathImageClient}/{item.ImgName}")" alt="@item.ImgName" style="max-height: 60px;" />
                                                    </td>                                                    <td>@item.UserFullName</td>
                                                    <td>@item.AboutUser</td>
                                                    <td>@item.Skills</td>
                                                    <td>@item.Instagram</td>
                                                    <td>@item.Linkedin</td>
                                                    <td>@item.Github</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="example1_next"><a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">بعدی</a></li></ul></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

